/* @import url('./reset.css'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* General styles */
:root {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

/* Element styling */
.card {
    width: min(320px, 80%);
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.02);
    padding: 1em;
    background-color: #fff;
    text-align: center;
}

.card-title {
    color: var(--dark-blue);
    padding: 1em 0;
    font-size: clamp(1rem, 6vw, 1.4rem);
}

.card-text {
    color: var(--grayish-blue);
    padding-bottom: 1.5em;
    font-size: 0.9375rem;
    font-size: clamp(0.75rem, 4vw, 0.9375rem);
}

/* Media queries */
@media (min-width: 21.875em) {
    .card-text {
        padding-left: 1em;
        padding-right: 1em;
    }
}