@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --whiteish: #DDDDDD;
    --darkish: #222831;
    --dark-blueish: #30475E;
    --pinky-orange: #F05454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--darkish);
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em;
}

#page-title {
    text-align: center;
    font-size: 3rem;
    padding: .5em 0;
    color: var(--whiteish);
}


/* Dropdown(s) */
.dropdown-container {
    max-width: 600px;
    margin: 0 auto;
    padding: .6em 1em;
    color: var(--whiteish);
    background-color: var(--dark-blueish);
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(34, 40, 49, 0.125);
}

.dropdown-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-counter {
    background-color: var(--pinky-orange);
    margin-left: .4em;
    padding: .1em .5em;
    border-radius: 5px;
    font-weight: bold;
}

/* Arrow */

.arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--whiteish);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: transform .3s;
}

.up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}